body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-row {
  display: flex;
  justify-content: flex-start;
}

.node {
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-shrink: 0;
}

.starting-node {
  background-color: green;
  border: 1px solid green;
}

.ending-node {
  background-color: red;
  border: 1px solid red;
}

.wall-node {
  background-color: darkgrey;
  border: 1px solid rgb(121, 120, 120);
}

.visited-node {
  background-color: blue;
  opacity: 90%;
}

.path-node {
  background-color: yellow;
}